.elm-input-datepickerDatePicker {
    position: relative;
    min-width: 475px;
}

.elm-input-datepickerDialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog {
    float: left;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerHeader {
    box-sizing: border-box;
    padding: 10px 7px;
    background-color: #f5f5f5;
    position: relative;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerHeader > .elm-input-datepickerArrowLeft {
    box-sizing: border-box;
    text-align: center;
    transform: scale(0.8);
    position: absolute;
    padding: 0px 8px;
    cursor: pointer;
    left: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerHeader > .elm-input-datepickerArrowRight {
    box-sizing: border-box;
    text-align: center;
    transform: scale(0.8);
    position: absolute;
    padding: 0px 8px;
    cursor: pointer;
    right: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerHeader > .elm-input-datepickerTitle {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar {
    background-color: #ffffff;
    border-spacing: 0;
    border-width: 0;
    table-layout: fixed;
    margin: 0px;
    width: auto;
    margin: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  td {
    padding: 7px 7px 7px 9px;
    border: 0px;
    cursor: pointer;
    text-align: right;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  td:hover {
    background-color: #ebebeb;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  th {
    padding: 7px 7px 7px 9px;
    border: 0px;
    cursor: pointer;
    text-align: right;
    background-color: #f5f5f5;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerPreviousMonth {
    color: #a1a1a1;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerNextMonth {
    color: #a1a1a1;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerSelectedDate {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerSelectedDate:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerToday {
    box-shadow: inset 0 0 7px 0 #76abd9;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerCalendar  .elm-input-datepickerToday:hover {
    background-color: #d5e5f3;
}

.elm-input-datepickerDialog > .elm-input-datepickerDatePickerDialog > .elm-input-datepickerFooter {
    text-align: center;
    background-color: #f5f5f5;
    padding: 7px 7px;
    border-top: 1px solid #ccc;
    height: 16px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog {
    float: left;
    text-align: center;
    border-left: 1px solid #ccc;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerHeader {
    padding: 10px 7px;
    background-color: #f5f5f5;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody {
    background-color: #fff;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table {
    border-spacing: 0;
    border-width: 0;
    table-layout: fixed;
    margin: 0px;
    width: 120px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  tr {
    vertical-align: top;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  tr.elm-input-datepickerArrowUp {
    background-color: #f5f5f5;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  tr.elm-input-datepickerArrowUp > td {
    border-bottom: 1px solid #ccc;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  tr.elm-input-datepickerArrowDown {
    background-color: #f5f5f5;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  tr.elm-input-datepickerArrowDown > td {
    border-top: 1px solid #ccc;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  td {
    width: 33%;
    padding: 7px 7px 7px 9px;
    border: 0px;
    cursor: pointer;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  td:hover {
    background-color: #ebebeb;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  td.elm-input-datepickerEmptyCell {
    cursor: unset;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  td.elm-input-datepickerEmptyCell:hover {
    background-color: unset;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedHour {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedHour:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedMinute {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedMinute:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedAmPm {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerDigitalTime > .elm-input-datepickerBody  table  .elm-input-datepickerSelectedAmPm:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime {
    width: 230px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerHeader {
    padding: 10px 7px;
    background-color: #f5f5f5;
    font-size: 1.2em;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerHeader  .elm-input-datepickerHour {
    padding: 3px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    cursor: pointer;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerHeader  .elm-input-datepickerMinute {
    padding: 3px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    cursor: pointer;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerHeader  .elm-input-datepickerAMPM {
    padding: 3px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    cursor: pointer;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerHeader  .elm-input-datepickerActive {
    background-color: #e0e0e0;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerBody {
    background-color: #fff;
    padding: 12px 15px;
    height: 202px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerAMPMPicker {
    padding: 40px 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerAM {
    font-size: 1.2em;
    padding: 1em 0em;
    cursor: pointer;
    margin: 0px auto;
    width: 85px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerAM:hover {
    background-color: #ebebeb;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerAM.elm-input-datepickerSelectedAmPm {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerAM.elm-input-datepickerSelectedAmPm:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerPM {
    font-size: 1.2em;
    padding: 1em 0em;
    cursor: pointer;
    margin: 0px auto;
    width: 85px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerPM:hover {
    background-color: #ebebeb;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerPM.elm-input-datepickerSelectedAmPm {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}

.elm-input-datepickerDialog > .elm-input-datepickerTimePickerDialog.elm-input-datepickerAnalogTime  .elm-input-datepickerPM.elm-input-datepickerSelectedAmPm:hover {
    box-shadow: inset 0 0 10px 3px #3276b1;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px;
}